.header-container {
  display: flex;
  align-items: center;
  padding: 0 32px;
  height: 64px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  gap: 32px;
  z-index: 2;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
}

.logo {
  width: 100%;
  height: 100%;
}

.navigation-container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #0f3a77;
  font-weight: 500;
}

a:hover {
  color: #6cccde;
}

.selected-link {
  color: #6cccde;
}
